/* commnet css*/
/* reset trinh duyet */
*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: 'tahoma';
	font-size: 14px;
}
header{
	width: 100%;
	height: 100px;
	background-color: pink;
}
header div.logo {
	width: 30%;
	height: 100px;
	background-color: gray;
	float: left;
}
header div.banner{
	width: 70%;
	height: 100px;
	background-color: silver;
	float: left;
}
header h1, header h2 {
	text-align: center;
	line-height: 100px;
}

nav{
	width: 100%;
	height: 40px;
	background-color: pink;
}
div.container{
	width: 980px;
	margin: auto;
}
nav ul {
	text-align: center;
}
nav ul li {
	list-style: none;
	display: inline-block;
	line-height: 40px;
	padding: 0px 20px;
}
nav ul li a {
	text-decoration: none;
}

main{
	width: 100%;
	min-height: 800px;
}
main section.content-left{
	float: left;
	width: 70%;
	height: 800px;
	background-color: violet;
}
main aside.content-right{
	float: left;
	width: 30%;
	height: 800px;
	background-color: yellow;
}
main section.content-left section.content-top {
	width: 100%;
	height: 50%;
	background-color: blue;
}

main section.content-left article {
	width: 100%;
	height: 50%;
	background-color: green;
}

footer{
	width: 100%;
	height: 200px;
	background-color: black;
	
}
footer h4 {
	color: white;
	text-align: center;
	line-height: 200px;
}











